<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>
    <#assign var="hello springboot"/>
    <font size="18px">${var}</font>
</li>
<li>
    <font color="red">${intVal}</font>

</li>

<ul>list的内容
    <#list userList as item>
        <li>
            ${(item.username)!}，的生日是${item.createtime?string('yyy-MM-dd')!}
        </li>
    </#list>
</ul>


<ul>map的内容
    <li>
        <#list map?keys as key>
            ${key}:${map[key]}
        </#list>
    </li>
</ul>
</body>
</html>